.conteine{
    background-color: aquamarine;
    display: flex;
    padding: 20px;
    gap: 1%;

}
.box{
    background-color: rgb(138, 43, 226);
    height: 200px;
    width: 150px;
    border-radius: 10px;
    margin-right: 60%;
}

.box1{
    background-color: rgb(226, 43, 43);
    height: 200px;
    width: 150px;
    border-radius: 10px;
}
.box2{
    background-color: rgb(43, 153, 226);
    height: 200px;
    width: 150px;
    border-radius: 10px;
}
